body{
 background: aquamarine;
 font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;

}

section  {
  background:  white;
  border-radius: 10px ;
  padding: 15px;
  width: 700px;
  min-width: 350px;
  max-width: 700px;
  height: auto;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}
select#flista{
  width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div{
  text-align: center;
  padding: 1%;
}
input{
  text-align: center;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
  padding: 0px;
}
input:hover {
 transition: o.5s;
 opacity: 0.3;
 background-color: black;
 color: white;
}

